*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    outline: none;
    blr:expression(this.onFocus=this.blur());
    color: #000;
}
li{
    list-style: none;
}
img{
    margin: 0;
    outline: none;
    border: none;
}
#gold_banner{
    width: 100%;
    height: 334px;
}
#gold_banner ul li{
   width: 100%;
    height: 334px;
    background-image: url(../images/banner_7.jpg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
}
#gold_zhao_body{
    width: 1100px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
}
#gold_zhao_body .gold_qie{
    margin-top: 20px;
}
#gold_zhao_body .gold_zhao_bodyl{
    float: right;
    width: 600px;
    height: auto;
    cursor: pointer;
}
#gold_zhao_body .gold_zhao_bodyl h2{
    width: 300px;
    height: 30px;
    line-height: 30px;
    color: #778d16;
    cursor: pointer;
    background-image: url(../images/zhan_jian_bg.png);
    background-repeat: no-repeat;
    background-position: 265px center;
    border: 1px solid #ccc;
}
#gold_zhao_body .gold_zhao_bodyl ul{
    height: 300px;
}
#gold_zhao_body .gold_zhao_bodyl ul li{
    width: 780px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #5e5e5e;
    padding: 5px 0;
}
#gold_zhao_body .gold_tan{
    display: none;
    margin-top: auto;
    width: 1060px;
    height: auto;
    clear: both;
    padding: 10px;
    background:  repeat scroll 0 0 rgba(255, 255, 255, 0.3) !important;
    box-shadow: 1px 1px 20px #ccc ;
    border-radius: 15px 15px;
    -moz-border-radius: 12px 15px;
    -webkit-border-radius: 12px 15px;
    background-color: #ccc;
}
#gold_zhao_body .gold_tan span{
    display: block;
    width: 1000px;
    height: auto;
    font-size: 25px;
    color: #8a8a8a;
    background-color: #fff;
    box-shadow: 1px 1px 20px 20px #abcdef inset ;
    padding: 30px;

}
#gold_zhao_body .gold_tan span:first-letter{
    color: red;
    font-size: 230%;
    font-weight: bolder;
    text-shadow: 1px 1px 20px #ccc;
    background-color: #e4e4e4;
    float: left;
    line-height: 1.3em;
    margin: 0 20px 0 20px;
}
#gold_zhao_body .gold_zhao_bodyr{
    float: left;
    width: 320px;
    height: auto;
    margin-top: 30px;
    border-bottom:1px solid #778d16;
}
#gold_zhao_body .gold_zhao_bodyr img
{

    }
#gold_zhao_body .gold_zhao_bodyr img{
    margin-top: 30px;
}

